#teacher-show table {
  width: 100%;
}
#teacher-show table td:first-child {
  width: 20%;
}
#teacher-show table td:first-child img {
  max-width: 400px;
}
#teacher-show table td {
  text-align: left;
  vertical-align: top;
}
#teacher-show table textarea {
  width: 100%;
  height: 500px;
  border: none;
}
