#modules-admin-report
{
    padding: 10px;

    table
    {
        width: 100%;
        text-align: left;
        border: gray 1px solid;

        td
        {
            width: 14%;
            vertical-align: top;
        }

        th
        {
            border-top: gray 1px dashed;
        }

        p
        {
            margin: 0;
        }
    }

    .current-job
    {
        background-color: lightyellow;
        border: gray 1px solid;
        border-radius: 5px;
        padding: 5px;
        margin-bottom: 10px;
    }
}
