@import "../../../../Engine/Constant.less";

#modules-menu-show
{
  background-color: white;
  height: 90%;
  text-align: center;

  a
  {
    font-size: xx-large;
  }

  img
  {
    width: 150px;
  }
}
