@import "../../../../Engine/Constant.less";

#modules-maps-show
{
  background-color: white;
  height: 90%;

  table
  {
    width: 100%;
    height: 100%;

    td
    {
      width: 33%;
      border: gray 1px solid;
      vertical-align: top;
    }
  }

  #map
  {
    background-color: black;
    width: 100%;
    height: 100%;
  }
}
