#modules-maps-show {
  background-color: white;
  height: 90%;
}
#modules-maps-show .local-buttons {
  background-color: #e9ffe8;
  text-align: center;
  padding: 10px;
}
#modules-maps-show .map {
  font-size: x-large;
}
