@import "../../../../../Engine/Constant.less";

#maps-inventory-show
{
  background-color: white;
  height: 90%;

  padding: 10px;
  border: gray 3px solid;
  border-radius: 5px;
  min-height: 400px;

  table
  {
    width: 100%;

    th
    {
      text-align: left;
    }

    td
    {
      vertical-align: top;
    }
  }

  #wrap-map
  {
    width: 400px;
    margin: 0 auto;

    #map
    {
      border: 1px solid red;
    }
  }
}
