#wiki-show
{
    h1.header
    {
        text-align: center;
    }

    table
    {
        width: 100%;

        th
        {
            text-align: left;
        }
    }

    .seeds
    {
        text-align: center;
    }
}