/* @todo: Translate to LESS */

#engine-artifacts-edit
{
    padding: 10px;
}

#engine-artifacts-edit table
{
    width: 100%;
}

#engine-artifacts-edit input,
#engine-artifacts-edit textarea
{
    width: 100%;
}

#engine-artifacts-edit textarea
{
    height: 300px;
}