#modules-admin-dashboard
{
    padding: 10px;

    .job
    {
        border: gray 1px solid;
        padding: 10px;
        background-color: #ffffef;

        h3
        {
            margin: 0;
        }
    }
}
