#modules-admin-dashboard {
  padding: 10px;
}
#modules-admin-dashboard .job {
  border: gray 1px solid;
  padding: 10px;
  background-color: #ffffef;
}
#modules-admin-dashboard .job h3 {
  margin: 0;
}
