@import "../../../../Engine/Constant.less";

#teacher-show
{
  background-color: white;
  height: 90%;

  table
  {
    width: 100%;

    td
    {
      vertical-align: top;

      &.apprentice
      {
        text-align: right;
      }
    }
  }
}
