@import "../../../../Engine/Constant.less";

#teacher-show
{
  background-color: white;
  height: 90%;

  table
  {
    width: 100%;
    font-size: x-large;

    input
    {
      width: 90%;
    }

    td
    {
      border-bottom: silver 1px dashed;
      vertical-align: top;
      width: 50%;

      &.apprentice
      {
        text-align: right;
      }
    }

    th
    {
      border-bottom: silver 2px solid;

      &.teacher
      {
        text-align: left;
      }
      &.apprentice
      {
        text-align: right;
      }
    }
  }
}
