#teacher-show {
  background-color: white;
  height: 90%;
}
#teacher-show table {
  width: 100%;
}
#teacher-show table td {
  vertical-align: top;
}
#teacher-show table td.apprentice {
  text-align: right;
}
