#wiki-show
{
    h1.header
    {
        text-align: center;
    }

    table
    {
        width: 100%;

        td
        {
            text-align: left;
            width: 50%;
            vertical-align: top;
        }
    }

    .seeds
    {
        text-align: center;
    }

    .block-quest
    {
        border: gray 1px solid;
        margin-bottom: 5px;
        border-radius: 5px;
        padding: 7px;
        background-color: #ffffef;
    }
}